@media screen and (max-width: 991px) {
  div.TaxButton-col {
    padding: 0 5px 0 5px !important;
  }
}

/*tax button styles*/
.TaxButton {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  font-family: "Lato", sans-serif;
}

@media (min-width: 433px) and (max-width: 509px) {
  .TaxButton {
    font-size: 1.25em;
  }
}

@media (min-width: 510px) {
  .TaxButton {
    font-size: 1.5em;
  }
}

/* tax button animations*/
.TaxButton-animations-enabled {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.TaxButton-animations-enabled:hover {
  transform: scale(1.05, 1.05);
}

/*disabled tax button animations*/
.TaxButton-animations-disabled {
  cursor: no-drop;
}

/*tax button content css*/
.TaxButton-content {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mega-octicon {
  cursor: pointer;
  color: #029ec2;
}