@import url('https://fonts.googleapis.com/css?family=Cabin');

nav.navbar {
  transition: 0.25s ease;
}

.Header-nav {
  background-color: transparent;
  border: transparent;
}

.NavbarToggler-active .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#029ec2' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.NavbarToggler-passive .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-link {
  transition-duration: 0.25s;
  font-family: 'Cabin', sans-serif;
}

.nav-link.disabled {
  cursor: no-drop;
}